################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/webz-sgml/.vs/Webz.Sgml/v15
